<h2>Apache Commons Project Distributions</h2>

<p>
    The most recent source and binary releases for the Apache Commons project are available from this
    directory listing. For older releases, please use the
    <a href="http://archive.apache.org/dist/commons/">archives</a>.
</p>

<h2>Important Notices</h2>

<ul>
    <li><a href="#mirrors">Download from your nearest mirror site!</a></li>
    <li><a href="#sig">PGP/GPG Signatures</a></li>
</ul>

